<v-card
  class="elevation-12"
  :loading="waitingForServer"
>
  <v-toolbar
    flat
  >
    <v-layout justify-center="">
      <v-toolbar-title class="authentication__container--title">REGISTER</v-toolbar-title>
    </v-layout>
  </v-toolbar>
  <v-card-text>
    <v-form>
      <v-text-field
        label="Enter E-Mail"
        prepend-inner-icon="person"
        type="text"
        outlined
        rounded
        v-model="email"
        :disabled="waitingForServer"
        :error-messages="emailErrors"
        @input="emailOnInput"
        @blur="$v.email.$touch()"
        :solo="!appStore.appDarkMode"
        :solo-inverted="appStore.appDarkMode"
        autofocus
        flat
      ></v-text-field>

      <v-text-field
        label="Enter Password"
        prepend-inner-icon="lock"
        outlined
        rounded
        v-model="password"
        :disabled="waitingForServer"
        :error-messages="passwordErrors"
        @input="passwordOnInput"
        @blur="$v.password.$touch()"
        :append-icon="showPassword ? 'visibility' : 'visibility_off'"
        :type="showPassword ? 'text' : 'password'"
        @click:append="showPassword = !showPassword"
        :solo="!appStore.appDarkMode"
        :solo-inverted="appStore.appDarkMode"
        flat
      ></v-text-field>

      <v-text-field
        label="Repeat Password"
        prepend-inner-icon="lock"
        outlined
        rounded
        v-model="repeatPassword"
        :disabled="waitingForServer"
        :error-messages="repeatPasswordErrors"
        @input="repeatPasswordOnInput"
        @blur="$v.repeatPassword.$touch()"
        :append-icon="showRepeatPassword ? 'visibility' : 'visibility_off'"
        :type="showRepeatPassword ? 'text' : 'password'"
        @click:append="showRepeatPassword = !showRepeatPassword"
        :solo="!appStore.appDarkMode"
        :solo-inverted="appStore.appDarkMode"
        flat
      ></v-text-field>
    </v-form>
  </v-card-text>
  <v-card-actions>
    <v-layout
      align-center
      justify-center
    >
      <v-btn
        color="primary"
        :block="!waitingForServer"
        :rounded="!waitingForServer"
        ripple
        :fab="waitingForServer"
        :loading="waitingForServer"
        :small="waitingForServer"
        :large="!waitingForServer"
        @click="register"
        depressed
        :disabled="$v.$invalid"
      >
        Register
      </v-btn>
    </v-layout>
  </v-card-actions>
  <v-alert
    :value="alert.state"
    color="red"
    dark
    border="top"
    icon="priority_high"
    transition="slide-y-transition"
  >
    {{ alert.message }}
  </v-alert>
  <v-layout
    justify-center
    class="pt-5"
  >
    <p>Already have an account?
      <v-btn depressed rounded :disabled="waitingForServer" to="/start/auth?mode=login">login</v-btn>
    </p>
  </v-layout>
</v-card>
