.facebook-color {
  color: #3b5998;
}

.google-color {
  color: #DB4437;
}

.authentication {
  &__container {
    height: calc(100vh - 64px);

    &--title {
      letter-spacing: 0.5rem;
      font-weight: bold;
    }
  }
}
